.Button {
    font-size: 12px;
    font-weight: 700;
    padding: 9px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.primary {
    color: var(--mainBrandColor);
    background-color: #fff;
}

.secondary {
    color: #fff;
    background-color: var(--mainBrandColor-dark);
}

