.Layout{
    height: 100vh;
    display: flex;
    padding: 0px 10px;
}
.Layout main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.content {
    display: flex;
    margin-top: 15px;
    height: 80%;
}
.leftContent {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    width: 6%;
    max-width: 48px;
    min-width: 42px;
}
.rightContent {
    background: var(--mainBrandColor-dark);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 30px 34px;
    width: 94%;
}
.blockContent{
    background: var(--mainBrandColor);
    border-radius: 2px;
    height: 100%;
}
.blockContent div {
    width: 100%;
}
