.navLink {
    width: 49px;
    height: 47px;
    background-size: cover;
}
.true {
    background-color: var(--mainBrandColor-dark);
}
.false {
    background-color: var(--mainBrandColor);
}
.analysis {
    background: url("../../assets/analysis.svg");
}

